@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 29% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;
    --primary: 204 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 24%;
    --secondary-foreground: 210 17% 93%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 210 29% 24%;
    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 204 70% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 29% 12%;
    --foreground: 210 17% 93%;
    --card: 210 29% 15%;
    --card-foreground: 210 17% 93%;
    --popover: 210 29% 15%;
    --popover-foreground: 210 17% 93%;
    --primary: 204 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 24%;
    --secondary-foreground: 210 17% 93%;
    --muted: 210 29% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 210 29% 20%;
    --accent-foreground: 210 17% 93%;
    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 29% 24%;
    --input: 210 29% 24%;
    --ring: 204 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
